# Imports

In [1]:
# standard imports
import numpy as np
import pandas as pd

In [4]:
def import_dataframes(a,b):
    '''This function takes in string literal csv files a and b, 
        reads the individual csv files into a dataframe, concatinates 
        those dataframes together, and returns a single combined data frame.
        Print statements verify the combined dataframe has the same value
        counts as a+b'''
    # import red wine data set
    red = pd.read_csv(a)
    # import white wine data set
    white = pd.read_csv(b)
    # concatenate the datasets
    df_combined = pd.concat([red, white])
    # write the combined dataframe to a new CSV file
    df_combined.to_csv('wine_quality_combined.csv', index=False)
    # import the combined dataset as df
    df = pd.read_csv('wine_quality_combined.csv')
    # value count of red wine data set
    a = len(red)
    print(f'Value count of the red wine dataframe: {a}')
    print('_'*50)
    # value count of white wine data set
    b = len(white)
    print(f'Value count of the white wine dataframe: {b}')
    print('_'*50)
    # value count of the combined dataset
    c = len(df)
    print(f'Value count of the combined dataframes: {c}')
    print('_'*50)
    # does the value count of the data sets combined 
    # -- equal the value count of red+white
    d = ((a+b) == c)
    if d == True:
        print(f'The value count of the combined dataframes equal the value counts of red + white: {d}')
        print('_'*50)
    else:
        print(f'The value count of the combined dataframes DOES NOT equal the value counts of red + white: {d}')
        print('_'*50)
    return df
import_dataframes('winequality-red.csv', 'winequality-white.csv')

Value count of the red wine dataframe: 1599
__________________________________________________
Value count of the white wine dataframe: 4898
__________________________________________________
Value count of the combined dataframes: 6497
__________________________________________________
The value count of the combined dataframes equal the value counts of red + white: True
__________________________________________________

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6