# Imports

In [1]:
# standard imports
import numpy as np
import pandas as pd

In [29]:
# import red wine data set
red = pd.read_csv('winequality-red.csv')
# import white wine data set
white = pd.read_csv('winequality-white.csv')

In [11]:
# concatenate the datasets
df_combined = pd.concat([red, white])
# write the combined dataframe to a new CSV file
df_combined.to_csv('wine_quality_combined.csv', index=False)
# import the combined dataset as df
df = pd.read_csv('wine_quality_combined.csv')

In [31]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [32]:
# value count of red wine data set
a = len(red)
print(f'Value count of the red wine dataframe: {a}')
# value count of white wine data set
b = len(white)
print(f'Value count of the white wine dataframe: {b}')
# value count of the combined dataset
c = len(df)
print(f'Value count of the combined dataframes: {c}')
# does the value count of the data sets combined 
# -- equal the value count of red+white
d = ((a+b) == c)
if d == True:
    print(f'The value count of the combined dataframes equal the value counts of red + white: {d}')
else:
    print(f'The value count of the combined dataframes DOES NOT equal the value counts of red + white: {d}')

Value count of the red wine dataframe: 1599
Value count of the white wine dataframe: 4898
Value count of the combined dataframes: 6497
The value count of the combined dataframes equal the value counts of red + white: True